.inner:nth-child(even){
  background: #EBEBD8;
  
 
}
.inner:hover{
  
  background-color:#D0D0D0 ;
}
.pagination{
transform: translateX(40%);
}

.inner{

padding:0.5em;}
.content{
padding:0;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
 
  text-align: center;
}

.wrapper > * {
  
  flex: 1 100%;
}
.assidenav> *{
display:flex-block;
}
.assidenav{
margin-top:2em;}
.header {
  text-align: center;
  padding:0.5em;
}

.main {
  text-align: left;
  
    width: 0;
    margin-right: 0;
    margin-bottom: 0;

}

.aside-1 {
  background: #555;
  color:white;
}
.sidenav{
  
    padding: 2%;
}
a.sidelink{
  color:white;
}
.sidenav:hover{
  background-color:olive ;
  cursor:pointer;
}
.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
    
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .inneruseraccepted{
        background-color: rgba(89, 177, 62, 0.7);
  padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 20%;
text-align: center;
float: left;
    }

.innerrejectedinall{
   background-color:rgba(212, 65, 65, 0.74); 
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
text-align: center; 
float: right;
}
.innerrejected{
   background-color:rgba(212, 65, 65, 0.74); 
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;

text-align: center;

float: left;

}
.inneraccepted{
  background-color: rgba(89, 177, 62, 0.7);
  padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 20%;
text-align: center;
}
.innerrequired{
   background-color:rgba(62, 149, 177, 0.7);
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 20%;
text-align: center; 
margin:5%;
}
.accepted{
      float: right;
    background-color: rgba(89, 177, 62, 0.7);
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 10%;
text-align: center;
}
.rejected{
      float: right;
    background-color:rgba(212, 65, 65, 0.74); 
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 10%;
text-align: center;
}

.required{
      float: right;
    background-color: rgba(62, 149, 177, 0.7);
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 10%;
text-align: center;
}
.vote{
      float: right;
    background-color: rgba(206, 156, 15, 0.7);
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 10%;
  text-align: center;
}
.innervote{
   
    background-color: rgba(206, 156, 15, 0.7);
    padding: 0.2em;
    border-radius: 0.1em;
    color: white;
  width: 17%;
  text-align: center;
}
.statbtn{
  display:inline;

}
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}



@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  margin:0;
  }
}
@media all and (min-width: 800px) {
.content{
padding:0;
}
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }
  .radio {
    display: inline;
  }
}