/* calendar */
table.calendar      
{ 
    border-left:1px solid BLACK; 
}

tr.calendar-row 
{  
 
    height: 85px;
  
}

td.calendar-day 
{
 min-height:80px; 
 
 position:relative; 
 } 

* html div.calendar-day 
{ 
    height:80px; 
}

/* td.calendar-day:hover   
{ 
    background:#eceff5; 
}
 */
 .start{
	  background-color:#EBEBD8 ;
	  color:black;
 }
 .end{
	 background-color:rgba(212, 65, 65, 0.42);
	 color:black;
 }
 .start:hover{
	 font-size:105%;
	 color:black;
 }
 .end:hover{
	 font-size:105%;
	 color:black;
 }
.start ,.end{
	display:block;
}

td.calendar-day-np  
{ 
    background:#EBEBD8; 
    min-height:80px; 
    } 

* html div.calendar-day-np 
{ 
    height:80px; 
}

td.calendar-day-head 
{ 
    background:rgb(191, 191, 127); 
    font-weight:bold; 
    text-align:center; 
    width:120px; 

     
    border-right:1px solid BLACK; 
}

div.day-number      
{ 
    background:black; 
    padding:5px; 
    color:#fff; 
    font-weight:bold; 
    float:right; 
    margin:-5px -5px 0 0; 
    width:20px; 
    text-align:center; 
}

/* shared */
td.calendar-day, td.calendar-day-np 
{ 
    width:120px; 
    padding:5px; 
    border-bottom:1px solid BLACK; 
    border-right:1px solid BLACK; 
}