input[type="checkbox"]{
display:inline;
width:2%;}

select[class="city"]{
	width: 27.2%;
}
.aside {
	
}

#search-result {
	float: right;
	width: 600px;
}

.motivation {
	word-wrap: break-word;
}

img {
	width: 40%;
	height: auto;
}	

